*{
         margin: 0;
         padding: 0;
         box-sizing: border-box;
         scroll-behavior: smooth;
}
.checkboxstyle{
         @apply w-5 h-6 text-blue-600 bg-gray-100 border-gray-300 rounded dark:ring-offset-gray-800  dark:bg-gray-700 dark:border-gray-600
}